<div class="container">
<div class="jumbotron">
<form>
  <div class="form-group">
    <label for="sub-to-scrape">Subreddit to scrape from</label>
    <input class="form-control" id="sub-to-scrape" placeholder="Enter subreddit to scrape from">
  </div>
   <div class="form-group">
    <label for="when-to-scrape">Scrape Posts from when?</label>
    <select class="form-control" id="when-to-scrape">
      <option value="hot">Hot (default)</option>
      <option value="hour">Top Posts of the Hour</option>
      <option value="today">Top Posts of Today</option>
      <option value="week">Top Posts of the Week</option>
      <option value="month">Top Posts of the Month</option>
      <option value="year">Top Posts of the Year</option>
      <option value="all-time">Top Posts of All Time</option>
      <option value="new">New</option>
      <option value="controversial">Controversial</option>
      <option value="rising">Rising</option>
    </select>
  </div>
  <button type="submit" id="sub-submit" class="btn btn-primary">Submit</button>
</form>
<hr class="my-4">
<p>Please give at least 5 seconds to scrape!</p>
</div><br><br>


<div class="row">
  
{{#each mine}}
<div class="col-md-6 mt-4">
<div class="card" style="width: 30rem; height:100%">
  <img class="card-img-top" src={{this.imgSrc}} alt="Card image cap" style="max-width:70px; max-height:70px">
  <div class="card-body">
    <h5 class="card-title">{{this.title}}</h5>
    <p class="card-text">Submitted <strong>{{this.time}}</strong></p>
    <p class="card-text">Submitted by <strong>{{this.author}}</strong></p>
    <a href={{this.commentLink}} class="btn btn-primary" target="_blank">See this post on Reddit</a>
    <br>
    <a href={{this.outBoundLink}} class="btn btn-success" target="_blank">See where this post links to online</a>
    <br />
    <label>Enter a comment</label>
    <form>
    <input class="comment-input" id={{{this.id}}}/>
    <button class="btn btn-primary comment-submit" data-id={{this.id}}>Submit comment</button>
    </form>
    {{!-- {{#if note}} --}}
    {{#each note}}
      <p>{{body}}</p>
      {{/each}}
    {{!-- {{/if}} --}}
  </div>
</div>
</div>
{{/each}}
</div>
</div>